::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	width: 16px;
	height: 16px;
	background: #1a1a1a;
}

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-thumb:vertical {
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: -1px 0 0 #000000;
}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 -1px 0 #000000;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,.05);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255,255,255,.10);
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
	background-color: #1a1a1a;
}

/*
::-webkit-scrollbar-thumb {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD9JREFUeNpi/P//PwMhwAQibly/9h8fzUi0SefPnfuPjybepKNHjvxHpQ+j0MSbtGvXzv/I9G44vYN4kwACDAA7RESWY5qxTAAAAABJRU5ErkJggg==);
}
*/

/* Up */
::-webkit-scrollbar-button:vertical:decrement {
	height: 22px;
	background-position: center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAQIDntwj7AAAAJUlEQVQI12OAgxQGBsaVDAxsbg4MkowTGFKAcAKDBIMDAwtMBQBYIAP5KnftSQAAAABJRU5ErkJggg==);
}

::-webkit-scrollbar-button:vertical:decrement:hover {
	height: 22px;
	background-position: center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAX7+ciytYAAAAJUlEQVQI12OAgxQGBsaVDAxsbg4MkowTGFKAcAKDBIMDAwtMBQBYIAP5KnftSQAAAABJRU5ErkJggg==);
}

/* Down */
::-webkit-scrollbar-button:vertical:increment {
	height: 22px;
	background-position: center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAQIDntwj7AAAAJElEQVQI12OAAQcGFoYJDBIMKUAoyTiBgc3NgYFxJVAiBa4EAFbgA/lztmmEAAAAAElFTkSuQmCC);
}

::-webkit-scrollbar-button:vertical:increment:hover {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAX7+ciytYAAAAJElEQVQI12OAAQcGFoYJDBIMKUAoyTiBgc3NgYFxJVAiBa4EAFbgA/lztmmEAAAAAElFTkSuQmCC);
}

/* Left */
::-webkit-scrollbar-button:horizontal:decrement {
	width: 22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAQIDntwj7AAAAJElEQVQI12NgYHNgYJBkYGBIYWBgnADhcjGAaBAfLA6UBwsAAEcYAz8mgHA8AAAAAElFTkSuQmCC);
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
	width: 22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAX7+ciytYAAAAJElEQVQI12NgYHNgYJBkYGBIYWBgnADhcjGAaBAfLA6UBwsAAEcYAz8mgHA8AAAAAElFTkSuQmCC);
}

/* Right */
::-webkit-scrollbar-button:horizontal:increment {
	width: 22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAQIDntwj7AAAAI0lEQVQI12Ngc2BgYJzAwMCQAsSSQAwSYGoA0RB+CkgezAUAUN4Dt/sHRo4AAAAASUVORK5CYII=);
}
	
::-webkit-scrollbar-button:horizontal:increment:hover {
	width: 22px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAgMAAADUwp+1AAAACVBMVEUAAAD///////9zeKVjAAAAA3RSTlMAX7+ciytYAAAAI0lEQVQI12Ngc2BgYJzAwMCQAsSSQAwSYGoA0RB+CkgezAUAUN4Dt/sHRo4AAAAASUVORK5CYII=);
}









/* Workshgop */

#footer {
	position:relative;
	text-align:left;
	width: auto;
	font-size: 12px;
	color: #8F98A0;
	border:0;
	margin: 0;
	padding: 32px 0;
	background-image: linear-gradient(to top, rgba(43, 116, 255, 0.1), rgba(6, 191, 255, 0.2));
	background-color: rgba(0,0,0, .2);
}


body {
	background:  #1b2838;
	text-align: left;
	color: #8F98A0;
	background: linear-gradient(to left, rgba(43, 116, 255, .4), rgba(6, 191, 255, 0.3)) !important;
	font-size: 14px;
	margin:0;
	padding:0;
}

body.headerOverride.chromeless {
    /* background: #1b2838; */
    /* color: #acb2b8; */
    background-image: linear-gradient(to left, rgba(43, 116, 255, .6), rgba(6, 191, 255, 0.7));
    /* background-color: rgba(0,0,0, 1); */

    color: #f7f7f7;
}








#leftContents {
	width: 550px !important;
	margin-bottom: 15px !important;
	margin-left: 45px !important;
}









.workshop_browsing
{
	float: left;
	padding-top: 11px;
	padding-right: 10px;
	font-size: 18px;
	color: #67c1f5;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300; /* light */
	font-weight: normal;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 38px;
}



























body.headerOverride.chromeless {
	font-size:0.75em;
	/* background-color:#1b2838; */
	color: #cbe5fb;
	text-align:center;
	margin:0;
	padding:0;
	scrollbar-track-color:#2c2c2c;
}








a.btn_grey_black.btn_medium.ico_hover {
	border-radius: 20px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #66acd4 !important;
	background: rgba(38, 81, 111, 0.5);
}





/* News */


body.v6.app {
	background-image: linear-gradient(to left, rgba(43, 116, 255, .4), rgba(6, 191, 255, 0.5));

}




.newsPostBlock .body li {
	margin-left: 18px;
	margin-top:8px;
	list-style-type: square;
	color: #8ecdff;
}


.newsPostBlock .body {
	color: #bdbdbd;
	margin-top: 10px;
	line-height: 19px;
	clear: left;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300; /* light */
}





/* Workshop Mod */
.commentthread_area {
	margin: 0px;
	padding-right: 0px;
	background: rgba(0,0,0, .4);
	border-radius: 20px;
}



.workshopItemDescription {
	font-size:14px;
	word-wrap:break-word;
	margin-top: 10px;
	line-height: 20px;
	padding-bottom: 16px;
	padding-right: 8px;
	color: #acb2b8;
	text-align: center !important;
}










.commentthread_header, .commentthread_footer {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 1px;
	padding-bottom: 15px;
	padding-top: 10px;
	border-radius: 20px;
	background: rgba(0,0,0, .2)!important;
}



.workshop_item_header {
	padding: 10px 15px;
	margin-bottom: 10px;
	margin-top: 30px !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: rgba(0,0,0, .5) !important;
	border-radius: 20px;
}


#profileBlock {
	width:638px;
	margin: 5px 0px 0px 0px;
	float: left;
	padding-bottom: 7px;
	padding-top: 30px;
	background: rgba(0,0,0, .2) !important;
	border-radius: 20px;
}



.game_area_purchase_game > h1 {
	font-size: 20px;
	color: white;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: bold; /* bold */
	width: 450px;
	text-align: center;
}





.workshopItem .workshopItemAuthorName
{
	font-size: 12px !important;
	color: #8F98A0 !important;
	text-align: center  !important;
	margin-left: -25px !important;
}





.workshopItemTitle {
	color:#ffffff !important;
	font-size:30px !important;
	word-wrap:break-word !important;

	text-align: center !important;
	font-family: "Motiva Sans Light", Arial, Helvetica, sans-serif !important;
}



.workshopItem .workshopItemTitle {
	font-size:14px !important;
	font-weight: normal !important;
	width: 200px  !important;
	margin-top: -50px !important;
	margin-left: -10px !important;

}



.user_action_history_icon
{
	height: 20px !important;
	width: 20px !important;
	overflow: hidden !important;

	background-repeat: no-repeat !important;
	float: right !important;
	margin-top: -150px !important;
	z-index: 0 !important;
	margin-right: 157px !important;
	position: relative !important;
	border-radius: 50px !important;
}




.workshopItemPreviewImage
{
	width: 150px !important;
	max-height:200px !important;
	vertical-align: middle !important;
	border: 3px solid black !important;
	margin-bottom: 0px !important;
	border-radius: 100px  !important;
	margin-left: 12px  !important;

	margin-top: -50px !important;
}



.workshopItemPreviewHolder
{
	display: table-cell !important;
	vertical-align: middle !important;
	width:200px !important;
	height: 200px !important;
	background-color: #00000000  !important;
	margin: 1px !important;
}


.fileRating
{

	margin-left: 50px !important;
	background: rgba(0, 0, 0, 1) !important;
	border-radius: 10px !important;

	margin-top: -70px !important;
	margin-right: 59px !important;
	border: 3px solid black !important;

	margin-bottom: 54px !important;
}



.workshopItemApp {

	text-align: center !important;

	font-size: 12px;
	margin-right: -5px !important;

}










/*

	#profileBlock.clearfix {
		width: 765px;
		margin:0;
		padding: 35px;
		padding-right: 0px;
		float: left;
		margin-top: -610px;
	}

*/










.searchedForTerm.ellipsis
{
	float: left;
	min-height: 15px;
	line-height: 15px;
	padding: 4px;
	background: linear-gradient(to left, rgba(43, 116, 255, 1), rgba(6, 191, 255, 1)) !important;
	border: 2px solid #0c3b5d;
	border-radius: 13px !important;
	-moz-border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	margin-right: 5px;
	margin-top: 9px;
}

.searchedForTerm.ellipsis:hover
{
	cursor: pointer;
	background-color: #0088ff;
	border: 2px solid #0088ff;
}






.btn_medium > span.subscribeText
{
	padding-left: 35px;

}


.btn_green_white_innerfade > span {
	display: block;
	background-image: linear-gradient(to right, rgba(43, 116, 255, 1), rgba(6, 191, 255, 1)) !important;
	/* border-radius: 50px; */
	color: #b3e6ff !important;
	/* border-radius: 2px; */
	/* background: #799905; */
	/* background: -webkit-linear-gradient( top, #799905 5%, #536904 95%); */
	/* background: linear-gradient( to bottom, #799905 5%, #536904 95%); */
}

.btn_green_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #b3e6ff !important;
	background: none !important

}


.btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {


}



.btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {


	background-image: linear-gradient(to right, rgb(35, 88, 191), rgb(1, 122, 165)) !important;
}



.btn_border_2px.btn_green_white_innerfade.btn_border_2px.btn_medium.links_button {
	border-radius: 4px;
	border: 2px rgba(0,0,0,1);
}








/* Profile */





.playerAvatar.profile_header_size {
	position: relative;
	width: 166px;
	height: 166px;
	border-radius: 150px;
}



.playerAvatar.profile_header_size .playerAvatarAutoSizeInner img {

	/* override the gradient behind the image (it won't show anyway) */

	background: none;

	filter: none;

		/* fix space appearing beneath image */

	display: block;

	padding: 0;

	width: 100%;

	height: 100%;

	border-radius: 100px;
}







.playerAvatar img,
.friend_block_holder .friend_block_avatar img,
.friend_activity .friend_block_avatar img {
	width: 32px;
	height: 32px;
	padding: 1px;
	border-radius: 150px;
	border: none;
}




.friendBlock .playerAvatar {
	float:left;
	margin-right: 7px;
	border-radius: 150px !important;
}



img.badge_icon.small {
	width: 54px;
	height: 54px;
	border-radius: 90px;
}






/* Offline State */
.playerAvatar.offline,
.friend_block_holder.friend_status_offline .friend_block_avatar,
.friend_activity.friend_status_offline .friend_block_avatar,
.appHubIconHolder.offline,
.avatar_block_status_offline,
.appHubIconHolder.ignored {

	background: -webkit-linear-gradient( top, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
	background: linear-gradient( to bottom, rgba(106,106,106,1) 5%, rgba(85,85,85,1) 95%);
	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;
	border-radius: 150px;
}



.playerAvatar.offline img,
.friend_status_offline .friend_block_avatar img,
.appHubIconHolder.offline img,
.avatar_block_status_offline img {
	background: -webkit-linear-gradient( top, #515151 5%, #474747 95%);
	background: linear-gradient( to bottom, #515151 5%, #474747 95%);
	border-radius: 150px;

}





/* Online State */
.playerAvatar.online,
.friend_block_holder.friend_status_online .friend_block_avatar,
.friend_activity.friend_status_online .friend_block_avatar,
.appHubIconHolder.online,
.avatar_block_status_online {
	background-color: #57cbde;
	background: -webkit-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
	background: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;
	border-radius: 100px !important;
}
.playerAvatar.online img,
.friend_status_online .friend_block_avatar img,
.appHubIconHolder.online img,
.avatar_block_status_online img {
	background: -webkit-linear-gradient( top, #41778f 5%, #3d697b 95%);
	background: linear-gradient( to bottom, #41778f 5%, #3d697b 95%);
	border-radius: 150px;
}

/* In-Game State */
.playerAvatar.in-game,
.friend_block_holder.friend_status_in-game .friend_block_avatar,
.friend_activity.friend_status_in-game .friend_block_avatar,
.appHubIconHolder.in-game,
.avatar_block_status_in-game {
	background-color: #90ba3c;
	border-radius: 150px;
	background: -webkit-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
	background: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
	/* IE <= 9 doesn't support rounded corners and gradient.  The gradient isn't too noticable so just disable the filter in IE9 */
	filter: none;
}
.playerAvatar.in-game img,
.friend_status_in-game .friend_block_avatar img,
.appHubIconHolder.in-game img,
.avatar_block_status_in-game img {
	background: -webkit-linear-gradient( top, #66812e 5%, #59702b 95%);
	background: linear-gradient( to bottom, #66812e 5%, #59702b 95%);
	border-radius: 150px;
}


/* Golden State */
.playerAvatar.golden,
.friend_block_holder.friend_status_golden .friend_block_avatar,
.friend_activity.friend_status_golden .friend_block_avatar,
.appHubIconHolder.golden,
.avatar_block_status_golden {
	background-color: #e4ca63;

	background: -webkit-linear-gradient( 305deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
	background: linear-gradient( 145deg, #d5bf6a 10%,#ffe2a9 40%,#ba995c 52%,#ba995c 61%,#d5bf6a 85%);
	border-radius: 150px;
}








































div.profile_page {
	background-image: black !important;
	background-image: linear-gradient(to right, rgb(35, 88, 191, .6), rgb(1, 122, 165, .4)) !important;
	background-repeat: repeat-x;
	background-color: #262627;
}

body.flat_page #footer_spacer, body.headerless_page #footer_spacer {
	height: 60px;
	padding-top: 16px;
	clear: both;
}


.profile_content {
	position: relative;
	background-color: rgba(0,0,0, .2);
	background-position: center;
	background-repeat: repeat-y;
	background-image: none !important;
	padding: 0 12px 64px 12px;
	width: 926px;
	margin: 0 auto;
	font-size: 13px;
}


.profile_header_bg {
	position: relative;
	max-width: 1018px;
	min-height: 224px;
	padding-bottom: 16px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background: rgba(0,0,0, .1);
	border: 2px solid rgba(0,0,0, .3);
	border-radius: 12px;
	background-position: center bottom;
	background-image: none !important;
}




.profile_header_badge {
	/* border: 1px solid #212121; */
	border-radius: 50px !important;
	background: linear-gradient(to left, rgb(35, 88, 191, .3), rgb(1, 122, 165, .3)) !important;
	border: none;
	height: 70px;
	box-shadow: 1px 1px 0 #343944;
	margin-bottom: 13px;
}


.btn_profile_action > span {

	/* border-radius: 2px; */

	background: linear-gradient(to left, rgb(35, 88, 191, .3), rgb(1, 122, 165, .3)) !important;

	display: block;

	 /* Old browsers */

	border-radius: 50px !important;
}


.btn_profile_action {
	/* border-radius: 2px; */
	color: #fff !important;
	padding: 1px;
	display: inline-block;
	border: none !important;
	text-decoration: none;
	cursor: pointer;
	background: none !important;
	/* border: 1px solid #212121; */
	/* background: #373f4f; */ /* Old browsers */
	/* background: -webkit-linear-gradient( top, #7a8494 5%, #282f3d 95%); */
	/* background: linear-gradient( to bottom, #7a8494 5%, #282f3d 95%); */
}




.profile_header_bg_texture {
	max-width: 976px;
	min-height: 224px;
	margin: 0 auto;
	background-image: none !important;
	background-repeat: no-repeat;
	background-position: center;
}



.profile_customization {
	position: relative;
	background-color: none !important;
	background-image: none !important;
	background-position: top left;
	background-repeat: no-repeat;
	border-radius: 3px;
	padding: 0 10px 11px 10px;
	margin-bottom: 12px;
	font-size: 13px;
	overflow: hidden;
}










.recent_game .game_info_stats, .favoritegame_showcase .game_info_stats {
	padding: 9px 11px 10px;
	background-color: rgba(0,0,0, .4) !important;
	border-radius: 30px !important;
	/* border-top: 1px solid #4d4d4d; */
	margin-top: 9px;
}



.recent_game {
	background: linear-gradient(to right, rgb(35, 88, 191, .1), rgb(1, 122, 165, .2)) !important;
	border-radius: 5px;
	margin-bottom: 21px;
}




.game_info_badge_border {
	border: 1px solid #212121;
	border-radius: 50px !important;
	background: linear-gradient(to bottom, rgb(35, 88, 191, .1), rgb(1, 122, 165, .1)) !important;
	height: 48px;
	box-shadow: 1px 1px 0 #343944 !important;
}



.recent_game .game_info .game_info_cap img {
	width: 100%;
	border-radius: 50px;
}


.game_info_stats_rule {
	border-top: none !important;
	background-color: #3d3d3d !important;
	height: 0 !important;
	margin: 10px 0;
}


.recent_game .game_info .game_info_details {
	margin: 10px !important;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: left;
}



.recent_game .game_info .game_name {
	padding-top: 30px !important;
	font-size: 14px;
}











.profile_background_overlay_content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(to right, rgb(35, 88, 191, .6), rgb(1, 122, 165, .4));
	opacity: .85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}




.profile_background_image_content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center -226px;	/* 240px header, -14px margin .profile_content.has_profile_background */
	background-repeat: no-repeat;
	z-index: 0;
	background-image:  !important	;
}





.profile_content.has_profile_background
{
	background: none;
	margin-top: -14px;
	overflow: hidden;
	padding-top: 14px;
	margin-top: -1px !important;
}




/* Market */


.market_listing_largeimage {
	background: #071215;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 360px;
	height: 360px;
	padding: 0 40px;
	margin-right: 15px;
	float: left;
	text-align: center;
}









.item_market_action_button_green > span {
	background: linear-gradient(to right, rgb(35, 88, 191, 1), rgb(1, 122, 165, 1)) !important;
}

.item_market_action_button_green:hover > span, .item_market_action_button_green .item_market_action_button_preload {
	background: linear-gradient(to right, rgb(35, 88, 191, .5), rgb(1, 122, 165, .5)) !important;
}

.market_header_bg {
	background: linear-gradient(to right, rgb(35, 88, 191, .7), rgb(1, 122, 165, .6)) !important;
	width: 100%;
}

.market_header_logo
{
	position: relative;
	margin: 0 auto;
	display: block;
	background-image: none !important;
	background-repeat: no-repeat;
	height: 121px;
	width: 949px;
}


.market_subtitle_text
{
	font-size: 14px;
	color: #b3e6ff !important;
}


.market_tab_well_tab_active > span {
	background: linear-gradient(to right, rgb(35, 88, 191, 1), rgb(1, 122, 165, 1)) !important;
	color: #ffffff;
}


.market_tab_well_tab_inactive:hover > span {
	background: linear-gradient(to right, rgb(35, 88, 191, .5), rgb(1, 122, 165, .5)) !important;
	color: #ffffff;
}



#BG_top {
	position:relative;
	width: 949px;/*100%;*/
	height: 121px;
	background-color: rgba(0,0,0, .2) !important;
	text-align: left;
	margin: 0 auto;
}








#BG_top > .user_info {
	position: absolute;
	margin-left: 15px;
	height: 51px;
	padding: 13px 13px 0 13px;
	background-color: rgba(0,0,0, .5) !important;
	border-radius: 100px !important;
	border: none !important;
	/* border: 1px solid #39393A; */
	/* border-right: 1px solid #0F0F0F; */
	/* border-top-left-radius: 3px; */
	-moz-border-radius-topleft: 3px;
	/* border-bottom-left-radius: 3px; */
	-moz-border-radius-bottomleft: 3px;
	min-width: 290px;
	max-width: 400px;
	right: 25px !important;
	top: 29px;
}




.market_listing_largeimage {
	background: none !important; 
	-webkit-box-shadow: none inset !important;
	-moz-box-shadow: none inset !important;
	box-shadow: none inset !important; 
	border-radius: 3px; 
	-moz-border-radius: 3px;
	width: 360px;
	height: 360px;
	padding: 0 40px;
	margin-right: 15px;
	float: left;
	text-align: center;
}





.market_searchedForTerm
{
	display: inline-block;
	min-height: 28px;
	line-height: 28px;
	padding: 2px 5px;
	background-color: #4f7dff !important;
	border: 2px solid #2f6093 !important;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #edf2f9;
	font-size: 14px;
	margin-right: 5px;
	margin-bottom: 5px;
}



.market_searchedForTerm:hover
{
	background-color: #3b5cb9 !important;
	border: 2px solid #204463 !important;
}




.market_search_advanced_button {
	background: linear-gradient(to left, rgb(35, 88, 191, .6), rgb(1, 122, 165, 1)) !important;
	border: 1px solid transparent !important;
	border-image: linear-gradient(to bottom, #3a4043 0%, #25282d 100%) !important;
	border-image-slice: 1 !important;
	padding: 2px 4px 2px !important;
	font-family: "Motiva Sans", Sans-serif !important;
	font-weight: 300 !important; /* light */
	font-size: 12px !important;
	color: #fff !important;
	line-height: 24px !important;
	cursor: pointer !important;
}



.market_search_advanced_button:hover {
	background: linear-gradient(to left, rgba(27, 64, 136, 0.6), rgb(0, 79, 107)) !important;
}



.game_button > span {
	border: 1px solid transparent !important;
	background: none !important;
	background-color: #2077c19e !important;
	border-image: linear-gradient(to bottom, #3a4043 0%, #25282d 100%) !important;
	border-image-slice: 1 !important;
	padding: 2px !important;
}


.game_button:hover > span, .game_button .game_button_preload {
	background: #2077c154 !important;
}



#findItemsSearchBox {
	width: 253px !important;
	height: 20px !important;
	border-radius: 0px !important;
	color: #fff !important;
			font-family: "Motiva Sans", Sans-serif !important;
		font-weight: 300 !important; /* light */

			padding: 2px 0 2px 4px !important;
	background: linear-gradient(to right, rgb(35, 88, 191, .1), rgb(1, 122, 165, .1)) !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #182636 #45566A #45566A #182636 !important;
}









.market_searchedForTerm
{
	display: inline-block !important;
	min-height: 28px !important;
	line-height: 28px !important;
	padding: 2px 5px !important;
	background-color: #499fde !important;
	border: 2px solid #2f7793 !important;
	border: 2px solid #408abf !important;
	border-radius: 2px !important;
	color: #f7fbff !important;
	font-size: 14px !important;
	margin-right: 5px !important;
	margin-bottom: 5px !important;
}






.market_searchedForTerm:hover
{
	background-color: #3e9dc34d !important;
	border: 2px solid #3e9dc326 !important;
}




/* Inventory */


#tabcontent_inventory {
	border: 1px solid #303030 !important;
	background: linear-gradient(to top, rgb(35, 88, 191, .6), rgb(1, 122, 165,.3)) !important;
	border-radius: 50px;
	margin-top: 50px;
}



.games_list_tab, a.games_list_tab {
	display: block !important;
	float: left !important;
	color: #ffffff !important;
	background: linear-gradient(to right, rgb(35, 88, 191, .9), rgb(1, 122, 165, .9)) !important;
	line-height: 54px !important;
	padding: 0px 12px !important;
	/* outline: none !important; */
	border-radius: 50px !important;
	font-size: 11px !important;
	/* border-top: 1px solid #565656 !important; */
	width: 205px !important;
	margin-top: 20px !important;
}	



.games_list_tabs {
	border: 0 !important; 
	border-bottom-color: 0 !important; 
	border-top-left-radius: 0px !important; 
	border-top-right-radius: 0px !important; 
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	background: rgba(0,0,0,0) !important;
	padding-top: 1px !important;
}




.games_list_tab_separator {
	display: block !important;
	float: left !important;
	width: 2px !important;
	height: 54px !important;
	background-image: none  !important;
	background-repeat:no-repeat !important;
}


.games_list_tab_row_separator {
	clear: left !important;
	float: left !important;
	width: 100% !important;
	height: 1px !important;
	border-top: none  !important;
	background-color: none  !important;
}


.games_list_tab.first_tab, a.games_list_tab.first_tab {
	border-top-left-radius: none !important;
	-moz-border-radius-topleft: none !important;
}

.games_list_tab.fourth_tab, a.games_list_tab.fourth_tab {
	border-top-right-radius: none !important;
	-moz-border-radius-topright: none !important;
}


.games_list_tab.active {
	background-color: #ffffff !important;
	border-top: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}








.profile_small_header_texture {
	background-image: none !important;
	max-width: 978px;
	height: 102px;
	margin: 0 auto;
	position: relative;
}



.profile_small_header_bg {
	background-image: none !important;
	max-width: 1010px;
	height: 215px;
	margin: 0 auto -98px auto;
	background-position: center;
}







.view_inventory_page {
	position: relative;
	background: rgba(0,0,0, .2) !important;
	padding: 11px;
	width: 880px;
	margin-left: 6px;
	border-radius: 50px;
}




.trade_item_box {
	background-color: rgba(0,0,0, .5) !important;
	/* border: 1px solid #2c2c2d; */
	border-radius: 20px;
	padding: 6px 0 0 6px;
}



.view_inventory_page .item {
	cursor: pointer;
	position: relative;
	border-radius: 50px;
}



.itemHolder {
	position: relative;
	width: 98px;
	height: 98px;
	background-color: #333333 !important;
	border-radius: 50px;
	background-image: none !important;
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}



.inventory_iteminfo .item_desc_content {
	padding: 238px 11px 11px 11px;
	background: rgba(0,0,0, .2) !important;
	border-radius: 50px;

	
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}


.item_market_actions {
	background: rgba(0,0,0, .5) !important;
	border-radius: 50px;
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
}



#iteminfo0, #iteminfo1 {
	width: 346px;
	top: 0px;
	left: 0px;
	border-radius: 50px;
}




.games_list_tab_row_separator {
	clear: left;
	float: left;
	width: 100%;
	height: 1px;
	border-top: 1px solid #252525;
	background: rgba(0,0,0,0) !important;
}




.btn_darkblue_white_innerfade > span {
	border-radius: 2px;
	display: block;
	background: linear-gradient(to left, rgb(35, 88, 191, 1), rgb(1, 122, 165, 1)) !important;
	background: rgba(33,101,138,1);
	background: -webkit-linear-gradient( top, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
	background: linear-gradient( to bottom, rgba(33,101,138,1) 5%, rgba(23,67,92,1) 95%);
}






/* Store */


.game_area_purchase_game p.package_contents,
.game_area_offsite_purchase p.package_contents{
	margin-left: 50px !important;
	color: #8f98a0;
}



.btnv6_green_white_innerfade {
	border-radius: 2px;
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none !important;
	color: #D2E885 !important;
	background: rgba(121,153,5,1);
	/* background: -webkit-linear-gradient( top, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%); */
	/* background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%); */
}


.game_page_background.game {
	background-position: center top;
	background-repeat: no-repeat;
	min-width: 1050px;
	background-size: 1920px;
}



#game_highlights {
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 50%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */
    padding-bottom: 250px;
    background: none !important;
}



#game_highlights .rightcol {
    width: 324px !important;
    margin-right: 1050px !important;
}


.highlight_overflow {
	overflow: hidden !important;
	margin-right: 16px !important;
	position: relative !important;
	width: 1000px !important;
	margin-top: -400px !important;
}



.game_background_glow {
	background: rgba(0,0,0,0) !important;
	background-position: bottom !important;
	padding-bottom: 280px !important;
	background-repeat: no-repeat !important;
	margin: 0px auto !important;
	margin-bottom: 150px !important;
}



.apphub_HomeHeaderContent .apphub_AppName {
	font-family: "Motiva Sans", Sans-serif !important;
	font-weight: normal !important; /* normal */
	padding-left: 0px !important;
	margin-left: -430px !important;
}



.review_ctn {
	border-top: none !important;
}


.highlight_overflow {
	overflow: hidden;
	margin-right: 16px;
	position: relative;
	margin-top: -375px !important;
}



.apphub_OtherSiteInfo
{
	position: relative;
	margin-top: -15px;
	margin-right: -25px;
	float: right;
}